html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



@font-face {
    font-family: 'Merkur';
    src: url('../fonts/Merkur.ttf');
}
@font-face {
    font-family: 'Pdark';
    src: url('../fonts/GALS.ttf');
}

.ad-con {
	/*background-color: #000;*/
	overflow: hidden;
	position: relative;
	background: linear-gradient(-45deg,#3c0f57,#030414,#250936,#030104);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes on-off {
	0% {
		text-shadow: 0px 0px 15px #F50057;
	}
	50% {
		text-shadow: 0px 0px 5px #F50057;
	}
	100% {
		text-shadow: 0px 0px 15px #F50057;
	}
}

@-moz-keyframes on-off {
	0% {
		text-shadow: 0px 0px 15px #F50057;
	}
	50% {
		text-shadow: 0px 0px 5px #F50057;
	}
	100% {
		text-shadow: 0px 0px 15px #F50057;
	}
}

@keyframes on-off {
	0% {
		text-shadow: 0px 0px 15px #F50057;
	}
	50% {
		text-shadow: 0px 0px 5px #F50057;
	}
	100% {
		text-shadow: 0px 0px 15px #F50057;
	}
}



.h-name{
	position: relative;
  font-family: Pdark;
  color: #F50057;
  font-size: 70px;
	margin-top: 20%;
	margin-left: -50px;
	-webkit-animation: on-off 3s ease-out infinite;
	-moz-animation: on-off 3s ease-out infinite;
	animation: on-off 3s ease-out infinite;
}
.font-back-anim{
	font-size: 80px;
	color: #fff;
	opacity: 0.3;
}.button-opptions{
	position: relative;
	left: 32.5%;
	top: 7px;
}
.but-model-user{
	width: 220px;
	height: 40px;
	color: #ffbad3;
	background-color: transparent;
	border:2px solid #F50057;
	font-size: 20px;
	
	cursor: pointer;

}
